/* Colores */ /* Aplicar Google Fonts a todos los HTML */
* {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
}

/* Aplicar el fondo del body */
body {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 20.5%, #1e2749 0 29.5%, rgba(0, 0, 0, 0) 0) 0 50px, linear-gradient(45deg, rgba(0, 0, 0, 0) 8%, #1e2749 0 17%, rgba(0, 0, 0, 0) 0 58%) 100px 0, linear-gradient(135deg, rgba(0, 0, 0, 0) 8%, #1e2749 0 17%, rgba(0, 0, 0, 0) 0 58%, #1e2749 0 67%, rgba(0, 0, 0, 0) 0), linear-gradient(45deg, rgba(0, 0, 0, 0) 8%, #1e2749 0 17%, rgba(0, 0, 0, 0) 0 58%, #1e2749 0 67%, rgba(0, 0, 0, 0) 0 83%, #1e2749 0 92%, rgba(0, 0, 0, 0) 0), #e4d9ff;
  background-size: 200px 200px;
}

/* Aplicar parametros a todas las secciones y bloques de texto */
section {
  margin: 20px;
  padding: 1rem;
  background-color: rgba(250, 250, 255, 0.9921568627);
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  font-size: 16px;
  text-align: center;
}

h6 {
  text-align: center;
}

p {
  text-align: justify;
  line-height: 2rem;
}

/* Header y Nav */
header {
  background-color: #30343F;
  position: sticky;
  top: 0px;
  z-index: 1;
}

nav div a img {
  max-width: 200px;
}

.nav-link {
  color: rgba(250, 250, 255, 0.9921568627);
}

/* Footer */
footer {
  padding: 20px 0;
  background-color: #1E2749;
  color: white;
  margin-top: 2px;
}
footer div ul {
  justify-content: center;
  list-style: none;
  padding-left: 0rem;
}
footer div ul li a {
  color: white;
}
footer div p {
  text-align: center;
}
footer img {
  width: 40px;
}

/* Foto principal */
div .foto-main {
  width: 480px;
}

/* Parametros de los iframes */
#discografia {
  /* Separador entre canciones */
}
#discografia div {
  /* Galeria responsive */
}
#discografia div .spotify {
  height: 30rem;
  width: 80%;
  margin: 1rem auto;
}
#discografia div .youtube {
  height: 14rem;
  min-height: 1rem;
  width: 28rem;
  min-width: 2rem;
  margin: 1rem auto;
}
@media (min-width: 768px) and (max-width: 993px) {
  #discografia div .spotify {
    height: 25rem;
    width: 100%;
    margin: 1rem auto;
  }
}
#discografia .separador {
  width: 100%;
  height: 1px;
  border: 1px solid #273469;
}

/* Foto cabecera */
.foto-shows {
  background-image: url(../img/shows.webp);
  background-size: cover;
  background-position: center;
  text-decoration: overline;
  color: rgba(250, 250, 255, 0.9921568627);
  filter: brightness(80%);
  padding: 100px 0px;
  margin-top: -1rem;
}
.foto-shows p {
  font-size: 26px;
  text-align: center;
}

/* Tabla de Shows */
#shows table {
  height: 25rem;
}
#shows table td {
  vertical-align: middle;
  text-align: center;
}
#shows table .fila-principal {
  background-color: #273469;
  color: white;
}
#shows table .fila {
  background: #e4d9ff;
}
#shows table .fila .sold-out {
  color: #273469;
  text-decoration: line-through;
}
#shows table .fila .tickets {
  color: #1E2749;
  text-decoration: solid;
}

/* Galeria para celulares */
#galeria {
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#galeria img {
  width: 90%;
  height: auto;
  margin: 2px;
}

/* RESPONSIVE DESIGN */
/* Galeria para tablets */
@media (min-width: 768px) {
  #galeria {
    display: grid;
    grid-template-columns: repeat(2, auto-fill, minmax(10%, 100%));
    grid-template-areas: "galeria galeria" "foto1 foto2" "foto4 foto4" "foto3 foto5" "foto6 foto5" "foto7 foto7";
    gap: 6px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #galeria h1 {
    grid-area: galeria;
  }
  #galeria .grid1 {
    grid-area: foto1;
  }
  #galeria .grid2 {
    grid-area: foto2;
  }
  #galeria .grid3 {
    grid-area: foto3;
  }
  #galeria .grid4 {
    grid-area: foto4;
  }
  #galeria .grid5 {
    grid-area: foto5;
  }
  #galeria .grid6 {
    grid-area: foto6;
  }
  #galeria .grid7 {
    grid-area: foto7;
  }
}
/* Galeria para Ordenadores */
@media (min-width: 991px) {
  #galeria {
    grid-template-columns: repeat(3, auto-fill, minmax(10%, 100%));
    grid-template-areas: "galeria galeria galeria" "foto1 foto2 foto3" "foto4 foto4 foto5" "foto6 foto7 foto5";
  }
}
/* Foto cabecera */
.foto-contactanos {
  background-image: url(../img/velez.webp);
  background-size: cover;
  background-position: center;
  text-decoration: overline;
  color: rgba(250, 250, 255, 0.9921568627);
  filter: brightness(80%);
  padding: 200px 0px;
  margin-top: -1rem;
}

/* Boton personalizado */
div .btn-enviar {
  justify-content: center;
}
div .btn-enviar button {
  padding: 10px 50px;
}

/*# sourceMappingURL=styles.css.map */
