/* Foto cabecera */
.foto-contactanos {
    background-image: url(../img/velez.webp);
    background-size: cover;
    background-position: center;
    text-decoration: overline;
    color: $color-secundario;
    filter: brightness(80%);
    padding: 200px 0px;
    margin-top: -1rem;
}

/* Boton personalizado */
div {
    .btn-enviar {
        justify-content: center;
        button {
            padding: 10px 50px;
        }
    }
}
