/* Foto cabecera */
.foto-contactanos {
    background-image: url(../img/velez.webp);
    padding: 200px 0px;
    @include foto-cabecera
}

/* Boton personalizado */
div {
    .btn-enviar {
        justify-content: center;
        button {
            padding: 10px 50px;
        }
    }
}
